.table tr td img{
    width: 70px !important;
    height: 70px !important;
    object-fit: cover;
}
td i{
    cursor: pointer;
}
th,td{
    color:var(--primary-color);
}
.empty__cart{
    margin:40px;
    text-align:center;
    font-weight: 600;
    font-size: 20px;
  }
 